<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="book-info">
    <a href="{% url 'books_list' %}">Список книг</a>

    <h1>{{ book.title }}</h1>
    <p>Author: {{ book.author }}</p>
    <p>ISBN: {{ book.isbn }}</p>
    <p>Publication Year: {{ book.publication_year }}</p>
    <p>Summary: {{ book.summary }}</p>

    <h2>Редактировать</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <button type="submit">Сохранить</button>
    </form>

    <form method="post" action="{% url 'book' book.id %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Удалить</button>
    </form>

</div>
</body>
</html>